*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    background-color: rgb(237, 237, 237);
    font-family: monospace;
    overflow-y: scroll;
}

.img-bg{
    background-image: url('https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b');
    background-size: cover;
    background-position: center;
    height: 30vh;
    width: 100%;
}

.todo-wrapper{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    bottom: 8rem;
}

.todo-list{
    border-radius: 5px;
    overflow: hidden;
}

.tasks-container{
    background-color: rgb(251, 251, 251);
    padding: 10px;
    display: flex;
    gap: 10px;
    border-radius: 5px;
}

.input-task{
    padding: 2px;
    border: none;
}

.label-task{
    width: 100%;
    text-align: left;
    margin-left: 10px;
}

.tasks-left{
    background-color: rgb(251, 251, 251);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-status{
    background-color: rgb(251, 251, 251);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

h6{
    text-align: center;
}
