*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.note-info{
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button-add{
    background-color: #21a53e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}